* {
  box-sizing: border-box;
}

table {
  margin: 16px;
  border: 1px solid #000000;
}

td {
  width: 50px;
  height: 50px;
  text-align: center;
}

table,
tr:not(:first-child, :last-child) td:not(:first-child, :last-child) {
  border: 1px solid black;
  border-collapse: collapse;
}

tr:nth-child(even) td:nth-child(odd) {
  background-color: #000000;
}

tr:nth-child(odd) td:nth-child(even) {
  background-color: #000000;
}

tr:first-child td:nth-child(n),
tr:last-child td:nth-child(n),
tr:nth-child(n) td:first-child,
tr:nth-child(n) td:last-child {
  background-color: #ffffff;
}
