@import "breakpoints.scss";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.square {
  width: 200px;
  height: 200px;
  background-color: #ff7f50;
  margin: 16px;

  @include for-medium-down {
    background-color: #8a2be2;
  }

  @include for-medium-up {
    background-color: #a61;
  }

  @include for-large-up {
    background-color: #c47;
  }
}

@media screen and (orientation: landscape) {
  .container {
    flex-direction: row;
  }
}