body {
  display: flex;
  height: 100vh;
}

.fancy-button {
  width: 150px;
  height: 50px;
  border-radius: 4px;
  margin: auto;
  background-image: linear-gradient(45deg, #ffff00, #ff0000);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  animation: jump 0.5s 0.4s ease-in-out, spin 0.5s, hide 1s 2s ease forwards;
}

@keyframes jump {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-40px);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes hide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(2000px);
  }
}
