* {
  box-sizing: border-box;
}

div > div {
  margin: 16px;
  border: 1px dotted grey;
}

.image {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery {
  display: flex;
}
