* {
  box-sizing: border-box;
}

.content {
  min-height: 100vh;
  display: flex;
}

.gallery {
  display: flex;
  width: 80%;
  background-color: #ffaa55;
}

.image {
  margin: auto;
  max-width: 100%;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.ideas {
  display: flex;
  width: 20%;
  background-color: #55aaff;
}

.idea {
  margin: auto;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
