* {
  box-sizing: border-box;
}

table {
  width: 500px;
  margin: 16px;
}

caption {
  margin-bottom: 8px;
}

table,
td,
th {
  border: 1px solid #000000;
  border-collapse: collapse;
}

td,
th {
  text-align: right;
  padding: 4px;
  height: 40px;
}

th {
  background-color: #00ffff;
}

tfoot {
  font-weight: 700;
}

div {
  overflow-x: auto;
}

tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody > tr:hover {
  background-color: #aaaaaa;
  color: #ffffff;
}
