.custom-button {
  margin: 64px;
  padding: 0;
  width: 200px;
  height: 50px;
  line-height: 50px;
  background-color: #ff7f50;
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
  font-weight: 700;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.custom-button:hover {
  color: #008b8b;
}

.custom-button:hover > .bird-icon {
  fill: #008000;
}

.bird-icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  fill: #ffffff;
}
