.custom-button {
  width: 250px;
  height: 50px;
  background-color: #ff7f50;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 16px;
}

.custom-button:hover {
  color: #008000;
}

.custom-button:hover > .bird-icon {
  fill: #ff0000;
}

.bird-icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.bird-icon:hover {
  fill: #ff0000;
}
