.header {
  display: flex;
  height: 3em;
  background-color: $color-primary;
}

.menu {
  display: flex;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3em;
  padding: 0;
  text-transform: uppercase;
  list-style-type: none;

  &__item {
    padding: 0 8px;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #9acd32;
    }

    &_active {
      color: #ff0;
      &:hover {
        .submenu {
          display: block;
        }
      }
    }
  }

  &__item-text {
    line-height: 3em;
  }
}

.submenu {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: #ff7f50;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  color: #fff;
  list-style-type: none;
  min-width: 120px;
  z-index: 1;

  &__item {
    padding: 0 8px;
    line-height: 3em;

    &:hover {
      color: #000;
    }
  }
}
