input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

.checkmark {
  width: 25px;
  height: 25px;
  background-color: #d3d3d3;
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox {
  position: relative;
  display: inline-block;
  padding-left: 35px;
  margin: 16px;
  font-size: 24px;
}

.checkbox input:checked + .checkmark {
  background-color: #006400;
}
