section {
  margin: 32px;
}

body {
  font-weight: Roboto, sans-serif;
  font-size: 18px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

p {
  line-height: 28px;
}

.technology {
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 24px;
  opacity: 80%;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.translation {
  color: grey;
}
