* {
  box-sizing: border-box;
}

main {
  background-color: #ffe4c4;
  height: 100vh;
  display: flex;
  font-family: monospace;
  font-size: 16px;
}

.login-form {
  background-color: #00ffff;
  width: 300px;
  padding: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.form-title {
  text-align: center;
  text-transform: uppercase;
}

.form-control {
  margin-bottom: 8px;
}
.form-label {
  display: block;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 4px;
  outline: none;
}

.form-input:invalid {
  border: 3px solid #ff0000;
}

.submit-button {
  width: 100%;
  height: 32px;
  background-color: #ff7f50;
  margin-top: 16px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
}
