* {
  box-sizing: border-box;
}

.header {
  background-color: darkturquoise;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav-list {
  list-style: none;
  line-height: 40px;
  margin: 0;
}

.nav-item {
  margin-left: 16px;
  color: white;
  float: left;
}

.content {
  background-color: beige;
  height: 5000px;
}

.head {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}

.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
  position: absolute;
  top: -60px;
}

.ear_left {
  left: -40px;
}

.ear_right {
  right: -40px;
}

.eye {
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 15px;
  position: absolute;
  top: 80px;
}

.eye_left {
  left: 40px;
}

.eye_right {
  right: 40px;
}
