* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-image: linear-gradient(60deg, #f00, #ffa500);
  display: flex;
  justify-content: center;
}

h1 {
  color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.navigation {
  width: 100%;
  padding: 0.5em;
}

.nav-list {
  padding: 0;
}

.nav-list-item {
  background-color: #808080;
  height: 2em;
  line-height: 2em;
  margin-bottom: 0.5em;
  list-style-type: none;
}

.nav-list-link {
  width: 100%;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 0 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.section {
  width: 100%;
  padding: 0.5em;
  font-size: 1.25em;
}

.section__header {
  text-align: center;
  font-size: 5vw;
}

.banner {
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.units-list {
  line-height: 1.75em;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}

.news {
  width: 100%;
  padding: 0.5em;
}
@media screen and (min-width: 600px) {
  .info-section {
    display: flex;
  }

  .section {
    width: 80vw;
  }

  .navigation {
    width: 20vw;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    flex-direction: row;
  }

  .section {
    width: 60vw;
  }

  .navigation {
    width: 20vw;
  }

  .news {
    width: 20vw;
  }
}

.footer {
  text-align: center;
  background-color: #e5e5e5;
  padding: 0.5em;
}
