[href][target] {
  color: green;
}
.list {
  background-color: yellow;
}

.header,
.footer {
  border: 3px dashed blue;
}

.heading {
  margin-left: 20px;
}

article.new {
  font-size: 24px;
}
li.new {
  background-color: red;
}

.new.posted-today {
  background-color: pink;
}
