.text {
  margin: 16px;
  border-bottom: 1px dotted black;
  display: inline-block;
  position: relative;
}

.tooltip {
  background-color: grey;
  color: white;
  border-radius: 4px;
  padding: 8px;
  bottom: -40px;
  position: absolute;
  display: none;
}

.text:hover .tooltip {
  display: block;
}
