* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  height: 3em;
  padding: 1em;
  background-color: #eee;
}

.fa-bars {
  font-size: 2em;
}

.header-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.navigation {
  width: 20%;
  padding: 0.5em;
}

.nav-list {
  padding: 0;
  list-style-type: none;
}

.nav-list-item {
  background-color: #808080;
  margin-bottom: 0.5em;
}

.nav-list-link {
  width: 100%;
  display: inline-block;
  padding: 0 0.5em;
  color: #ffffff;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2em;
}

@media screen and (max-width: 600px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 600px) {
    .header-button {
      display: none;
    }
  }
